{% extends 'base.html' %}
{% load static %}
{% block 'conteudo' %} 

<body>
    
    <div class="container mt-4">
        <div class="d-flex justify-content-center">
            <form class="form-inline" method="GET" action="{% url 'home' %}">
                <div class="input-group">
                    <input type="search" name="q" class="form-control" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-primary" type="submit">Buscar</button> 
                </div>
            </form>
        </div>
    </div>
    
    
    <div class="container">
        {% if status %}
        {% if status == '1' %}
        <div class="alert alert-success text-center mx-auto" style="max-width: 400px;" role="alert">
            Categoria cadastrada
        </div>
        {% elif status == '2' %}
        <div class="alert alert-danger text-center mx-auto" style="max-width: 400px;" role="alert">
            Falha ao criar categoria
        </div>
        {% elif status == '3' %}
        <div class="alert alert-success text-center mx-auto" style="max-width: 400px;" role="alert">
            Livro cadastrado.
        </div>
        {% elif status == '4' %}
        <div class="alert alert-danger text-center mx-auto" style="max-width: 400px;" role="alert">
            Falha ao cadastrar livro.
        </div>
        {% elif status == '5' %}
        <div class="alert alert-success text-center mx-auto" style="max-width: 400px;" role="alert">
            Livro excluído.
        </div>
        {% elif status == '6' %}
        <div class="alert alert-warning text-center mx-auto" style="max-width: 400px;" role="alert">
            Esse livro não está disponível.
        </div>
        {% elif status == '7' %}
        <div class="alert alert-warning text-center mx-auto" style="max-width: 400px;" role="alert">
            Você já alugou esse livro.
        </div>
        {% elif status == '8' %}
        <div class="alert alert-success text-center mx-auto" style="max-width: 400px;" role="alert">
            Livro alugado.
        </div>
        {% elif status == '9' %}
        <div class="alert alert-danger text-center mx-auto" style="max-width: 400px;" role="alert">
            Algum erro ocorreu.
        </div>
        {% elif status == '10' %}
        <div class="alert alert-info text-center mx-auto" style="max-width: 400px;" role="alert">
            Livro atualizado.
        </div>
        {% elif status == '11' %}
        <div class="alert alert-info text-center mx-auto" style="max-width: 400px;" role="alert">
            Pessoas alugaram esse livro, todos os livros precisam ser devolvidos para excluir.
        </div>
        {% endif %}        
            {% endif %}
        <div class="row justify-content-center gap-2">


            {% for livro in livros %}
            <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-stretch justify-content-center">  
                <div class="card" style="width: 26rem;">
                    <img class="card-img-top livro-imagem" src="{% if livro.img_link %} {{ livro.img_link }} {% else %} {{ default_img }} {% endif %}" alt="Imagem do livro">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ livro.titulo }}</h5>
                        <div class="info-container">
                            <div class="info-item">Autor: <span class="info-text">{{ livro.autor }}</span></div>
                            <div class="info-item">Categoria: <span class="info-text">{{ livro.categoria }}</span></div>
                            <div class="info-item">Disponíveis: <span class="info-text">{{ livro.disponiveis }}</span></div>
                        </div>
                        <hr style="border-top: 1px solid #55555500; margin: 6px 0;"> <!-- Linha horizontal para separar informações -->
                        <div class="mt-auto">
                            <a href="{% url 'info_livro' livro.id %}" class="btn btn-info w-100 mb-2">Informações</a>
                            <button class="btn btn-success w-100" data-toggle="modal" data-target="#emprestimoModal" data-livro-id="{{ livro.id }}" data-livro-titulo="{{ livro.titulo }}">Alugar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

<style>
    .info-item {
        border-bottom: 1px solid #555; 
        padding: 5px 0;
    }
</style>



{% endblock %}
